/* Tenant User Layout Styles */
.bg-mint-card {
    background-color: #dff5e9;
}

.user-layout-body {
    font-family: 'Instrument Sans', sans-serif;
    background-color: #f0fdf4;
}

.font-outfit {
    font-family: 'Outfit', sans-serif;
}
